div._loading_overlay_wrapper {
    position: unset;
    ._loading_overlay_overlay {
    z-index: 1000000;
    }
}
.booking-modal-container{
    .booking-modal-content{
        display: flex;
        flex-direction: column;
        .booking-modal-header{
            border-bottom:1px solid #ccc;
            padding: 10px;
            .left{
                font-size: 15px;
                font-weight: 600;
            }
            .right{
                float: right;
                cursor: pointer;
            }
        }

        .booking-modal-body{
            padding-top: 15px;
            height: 100%;
        }

        .booking-modal-footer{
            border-top: 1px solid #ccc;
            padding: 10px;
            display: flex;
            justify-content: flex-end;
            gap: 15px;
            button{
                outline: none;
                border: none;
                padding: 7px 15px;
                border-radius: 5px;
                cursor: pointer;
            }
            .btn-booking-confirm{
                background-color: #FFD000;
            }
            .btn-booking-cancel{
                background-color: #aaa9a9;
            }
        }
    }
}