.docter-detail-container{
    height: 500px;
    //border: 1px red solid;
    
    .intro-doctor{
        margin: 0 100px;
        display: flex;
        //border: 1px solid orange;
        .content-left{
            //border: 1px solid greenyellow;
            background: center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }
        .content-rigth{
            width: 80%;
            //border: 1px solid rgb(8, 0, 255);
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up{
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }
            .down{
                padding-top: 10px;
            }
        }
    }

    .schedule-doctor{
        margin: 0 100px;
        display: flex;
        height: 200px;
        //border: 1px solid red;
        .content-left{
            width: 50%;
        }
        .content-rigth{
            width: 50%;
        }
    }

    .detail-infor-doctor{
        background-color: #F9F9F9;
        padding: 20px 100px;
        border-top: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        h5{
            font-size: 17px;
        }
        img{
            width: 100%;
        }
    }

    .commen-doctor{
        height: 50px;
    }
}