.profile-doctor-container{
    .intro-doctor{
        display: flex;
        //border: 1px solid orange;
        .content-left{
            //border: 1px solid greenyellow;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;

        }
        .content-rigth{
            width: calc(100% - 80px);
            //border: 1px solid rgb(8, 0, 255);
            display: flex;
            flex-direction: column;
            padding-left: 10px;
            .up{
                font-weight: 600;
            }
            .down{
               text-align: justify;
               .like-share-plugin{
                    margin: 10px 0 20px 0;
                }
            }
        }
    }
}
